<header>
	<h1 class="logo"><a href="/todo">Fury Phoenix</a></h1>
	<div class="header-desc">
		<p class="header-para">You can list your todo's here!</p>
		<nav>
			<a class="nav-links" href="/todo">Home</a>
			<a class="nav-links" href="/about">About</a>
			<a class="nav-links" href="/todo/create">Create New</a>
		</nav>
	</div>
</header>
