<!-- <nav>
	<h1 class="logo"><a href="/todo">Fury Phoenix</a></h1>
	<div class="header-desc">
		<p class="header-para">You can list your todo's here!</p>
		<nav>
			<a class="nav-links" href="/todo">Home</a>
			<a class="nav-links" href="/about">About</a>
			<a class="nav-links" href="/todo/create">Create New</a>
		</nav>
	</div>
</nav> -->

<nav>
	<div class="site-title">
		<a href="/todo"><h1>Fury Phoenix</h1></a>
		<p>You can list your todos here!</p>
	</div>
	<ul>
		<li><a class="nav-links" href="/todo">Home</a></li>
		<li><a class="nav-links" href="/about">About</a></li>
		<li><a class="nav-links" href="/todo/create">Create New</a></li>
	</ul>
</nav>
