<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head.ejs') %>

	<body>
		<%- include('./partials/header.ejs') %>
		<div class="about content">
			<p>
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil
				expedita, sapiente quae aliquid vel recusandae maiores et! Amet officiis
				corporis asperiores beatae debitis nulla, adipisci ducimus veritatis
				natus ea mollitia eos rerum consectetur praesentium nobis? Natus
				similique aliquid laborum voluptatibus?
			</p>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut tempora
				deserunt distinctio sunt. Dolor quasi ex expedita omnis odit deleniti,
				labore doloremque saepe dolore necessitatibus totam perferendis amet
				nesciunt animi ducimus officia consequatur. Velit atque provident
				tempore. Non cupiditate reiciendis assumenda consectetur quia nisi
				laboriosam necessitatibus earum facere. Tempore impedit odit consequatur
				unde alias consequuntur aliquid ab iure nostrum temporibus sed, vel
				deserunt dolorem culpa non? Ea a maxime officiis quae totam impedit
				soluta nisi, ullam laudantium dolores repudiandae amet id accusantium
				adipisci? Earum, similique. Voluptatibus explicabo nulla ducimus natus
				ea illum itaque tenetur ipsum, exercitationem quas officiis fugit ab!
			</p>
		</div>
		<%- include('./partials/footer.ejs') %>
	</body>
</html>
