<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head.ejs') %>
	<body>
		<%- include('./partials/header.ejs') %>
		<div class="create-blog content">
			<form action="/todo" method="POST">
				<label for="title">Enter todo name</label>
				<input
					type="text"
					name="title"
					id="title"
					placeholder="eg. Buy a cricket bat"
					required
					autofocus
				/>
				<label for="category">Enter category</label>
				<input
					type="text"
					name="category"
					id="category"
					placeholder="eg. Sports"
				/>
				<label for="description">Enter description</label>
				<textarea
					name="description"
					id="description"
					placeholder="eg. This bat helps me to practice well!"
				></textarea>
				<button>Submit</button>
			</form>
		</div>
		<%- include('./partials/footer.ejs') %>
	</body>
</html>
