@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

:root {
	/* None of these colors are used. */
	--pink-lavender: hsla(278, 35%, 78%, 1);
	--orchid-pink: hsla(337, 100%, 89%, 1);
	--nadeshiko-pink: hsla(338, 100%, 84%, 1);
	--uranian-blue: hsla(208, 97%, 87%, 1);
	--baby-blue-eyes: hsla(209, 100%, 82%, 1);
}

body::-webkit-scrollbar {
	width: 6px;
}

body::-webkit-scrollbar-thumb {
	background-color: crimson;
}

body {
	max-width: 1200px;
	max-width: 100%;
	height: 100%;
	min-height: 100vh;
	margin: 20px auto;
	padding: 0 20px;
	background: #f1f1f1;
	font-family: 'Noto Serif', serif;
}
p,
h1,
h2,
h3,
a,
ul {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #222;
}
nav {
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
	text-transform: uppercase;
}
nav ul {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}
nav li {
	list-style-type: none;
	margin-left: 20px;
}
nav h1 {
	font-size: 3em;
}
nav p,
nav a {
	color: #777;
	font-weight: 300;
	transition: 300ms;
}
nav a:hover {
	color: crimson;
}
.site-title h1::first-letter {
	color: crimson;
	font-size: 62px;
	padding-right: 4px;
}

footer {
	height: 30px;
	text-align: center;
	position: relative;
	margin: 40px 0 10px;
	bottom: 0;
	left: 0;
	right: 0;
}
footer p,
footer a {
	color: #000;
	line-height: 30px;
	transition: 150ms;
}
footer a:hover {
	color: #777;
}
h2 {
	text-transform: capitalize;
	margin-bottom: 8px;
}
.content {
	margin-left: 20px;
}
/* index styles */
.todo {
	width: fit-content;
}
.todo a {
	font-size: 18px;
	flex-basis: 45%;
	display: block;
	margin: 30px 0;
	padding-left: 20px;
	border-left: 6px solid crimson;
	line-height: 40px;
	height: 40px;
}
.todo a:hover h3 {
	color: crimson;
}
/* details styles */
.details {
	position: relative;
}
.delete {
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 20px;
	padding: 8px 16px;
	background: crimson;
	color: white;
	margin-right: 30px;
	transition: 150ms;
}
.delete:hover {
	cursor: pointer;
	transform: scale(1.05);
}

/* details styles */
.details h1 {
	margin: 0 0 30px 20px;
}
.details h1::first-letter {
	color: crimson;
	font-size: 42px;
	text-shadow: -2px 0 0 black;
}
.details :is(h2, h3, p) {
	color: #333;
	margin: 20px 0;
	border-left: 5px solid crimson;
	padding-left: 15px;
	height: 35px;
	line-height: 35px;
	border-radius: 20px;
	box-shadow: -3px 0 0 0 black;
}
.content strong {
	color: #000;
}
/* about styles */
.about p {
	display: block;
	margin-bottom: 20px;
	font-size: 16px;
}
.about p::first-letter {
	font-size: 30px;
	color: crimson;
	padding-right: 2px;
}

/* create styles */
.create-blog form {
	max-width: 400px;
	margin: 0 auto;
}
.create-blog input,
.create-blog textarea {
	display: block;
	width: 100%;
	margin: 10px 0;
	padding: 8px;
}
.create-bog label {
	display: block;
	margin-top: 2px;
}
textarea {
	height: 120px;
	resize: none;
}
form input,
form button,
form textarea {
	transition: 150ms;
	font-family: 'poppins', sans-serif;
}
form button:hover {
	border-radius: 3px;
	transform: scale(0.95);
}
.create-blog button {
	margin-top: 20px;
	background: crimson;
	color: white;
	padding: 6px 12px;
	border: 0;
	font-size: 1.2em;
	cursor: pointer;
}

.completed {
	text-decoration: line-through;
	color: #777;
}
